<body>

<!-- First Container -->
<div class="container-fluid bg-1">
  <%= form_for :recipe, url: recipes_path do |f| %>
 
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %> prohibited
        this recipe from being saved:
      </h2>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <div class="col-md-6 col-md-offset-3">
    <p>
      <%= f.label :tytuł %><br>
      <%= f.text_field :tytuł, class:"form-control" %>
    </p>
  
    <p>
      <%= f.label :składniki %><br>
      <%= f.text_area :składniki, class:"form-control" %>
    </p>
  
    <p>
      <%= f.label :opis %><br>
      <%= f.text_area :opis, class:"form-control" %>
    </p>

    <p>
      <%= f.submit "Dodaj" %>
    </p>
    
  </div>
 
<% end %>
 

</div>

</body>