<!DOCTYPE html>
<html>
  <head>
    <title>Książka Kucharska</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" <%= link_to 'Książka Kucharska', controller: 'welcome' %></a>
          
          
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">

            
            <li><%= link_to '| Przeglądaj Przepisy |', controller: 'recipes' %></li>
            <% if sign_in? %>
              <li><%= link_to '| Dodaj Przepis |', new_recipe_path %></li>
              <li><%= link_to current_user.username, root_path %></li>
              <li><%= link_to "Wyloguj", logout_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "| Zaloguj się |", login_path %></li>
              <li><%= link_to "| Dołącz do nas |", signup_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>
    
    <!-- Footer -->
    <footer class="container-fluid bg-3 text-center">
      <p>Autor: Klimaszewski Karol</p> 
    </footer>
  </body>
</html>
